@import url('./LandingPageStyles.css');

/* BLOG POSTS PREVIEWS STYLES */

#blog-preview {
    min-height: 100vh; /* temp */
    background-color: #ffffff;
    position: relative;
}

#blog-preview-header {
    font-size: 2rem;
    font-weight: 700;
    color: #3e2f1e;

    letter-spacing: 3px;
    font-variant: small-caps;
    text-align: center;

    background: #ffffff linear-gradient(351deg, #dcaa8f, #ffffff, #dcaa8f, #9dc4b9, #dcaa8f, #9dc4b9);
    background-size: 300% 100%;
    animation: gradient-nav 2s ease-in-out 2 alternate;

    transition: font-size 1s ease-in-out;
}

#blog-preview-header.preview-header-top {
    font-size: 2.5rem;
    position: sticky;
    top: 7vh;
}

.blog-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin: 10vh 5vw;
}

.home-preview-post {
    margin: 1rem;
    padding: 1rem 2rem;
    border: 1px solid #3e2f1e;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #3e2f1e;
    background-color: #ffffff;
    color: #3e2f1e;
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 1px;
    text-decoration: none;

    height: 50vh;
    width: 75%;
    overflow-y: auto;
}

.home-preview-post-links {
    color: #3e2f1e;
    text-decoration: none;
    border-bottom: 1px solid #3e2f1e;
    font-style: italic;
    font-weight: 400;
}

.preview-post-heading, .preview-post-stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.home-preview-post-title {
    text-decoration: none;
    color: #3e2f1e;
    font-weight: 600;
    font-size: 1.5rem;
}

.preview-post-stats {
    justify-content: space-evenly;
    font-variant: small-caps;
    font-weight: 400;
}

.preview-post-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.preview-post-content p {
    -webkit-hyphens: auto;
    hyphens: auto;

    margin-top: 1rem;
}

.preview-post-content img {
    max-width: 100%;
    height: auto;
    margin: 1rem 0;
}

.preview-post-content ul,
.preview-post-content ol,
.preview-post-content li {
    padding-left: 1rem;
}

.preview-post-read-more {
    margin-left: auto;
    font-weight: 400;
    font-size: 1rem;
}

/* BLOG STATS STYLES */

#blog-preview-stats-holder {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 5vh 0;
    width: 100%;
}

#blog-preview-stats-header {
    font-size: 2.5rem;
    font-weight: 700;
    color: #3e2f1e;

    letter-spacing: 3px;
    font-variant: small-caps;
    text-align: center;

    /* background: #ffffff linear-gradient(351deg, #ffffff, #dcaa8f, #9dc4b9);
    background-size: 300% 100%;
    animation: gradient-nav 2s ease-in-out 2 alternate; */
}

#blog-preview-stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

    margin: 5vh 0;
}

#blog-preview-stats a {
    text-decoration: none;
    color: #3e2f1e;
}

.blog-preview-stats-totals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #3e2f1e;

    padding: 1%;
    border-radius: 10px;
    width: 15vw;
}

.blog-preview-stats-totals:hover {
    background-color: #dcaa8f;
}

.blog-preview-stats-totals p {
    font-size: 1.2rem;
    letter-spacing: 2px;
}

.blog-preview-stats-totals h4 {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 3px;

    transition: all .5s ease-in-out;
}

.blog-preview-stats-totals:hover h4 {
    color: #faffe5;
    font-size: 2.1rem;
    font-weight: 700;
    letter-spacing: 5px;
}

#blog-preview-stats-words {
    font-size: 1.3rem;
    font-weight: 500;
}

#blog-preview-stats-word-count {
    font-size: 2rem;
    font-weight: 600;

    background: #ffffff linear-gradient(351deg, #faffe5, #18120b, #dcaa8f, #9dc4b9);
    -webkit-background-clip: text;
    color: transparent;

    background-size: 300% 100%;
    animation: gradient-nav 1s ease-in-out infinite alternate;
}