@import url('./LandingPageStyles.css');

#blog-preview {
    min-height: 100vh; /* temp */
    background-color: #ffffff;
    position: relative;
}

#blog-preview-header {
    font-size: 2rem;
    font-weight: 700;
    color: #3e2f1e;

    letter-spacing: 3px;
    font-variant: small-caps;
    text-align: center;

    background: #ffffff linear-gradient(351deg, #ffffff, #dcaa8f, #9dc4b9);
    background-size: 300% 100%;
    animation: gradient-nav 2s ease-in-out 2 alternate;
}

#blog-preview-header.preview-header-top {
    font-size: 2.5rem;
    position: sticky;
    top: 7vh;
}

.blog-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin: 10vh 5vw;
}

/* #blog-card-holder.home-blog-card-margin {
    margin-top: 0;
} */

.home-preview-post {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #3e2f1e;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #3e2f1e;
    background-color: #ffffff;
    color: #3e2f1e;
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 1px;
    text-decoration: none;

    height: 50vh;
    width: 75%;
    overflow-y: auto;
}

.home-preview-post a {
    color: #3e2f1e;
    text-decoration: none;
    border-bottom: 1px solid #3e2f1e;
    font-style: italic;
    font-weight: 400;
}

.preview-post-heading, .preview-post-stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.preview-post-stats {
    justify-content: space-evenly;
    font-variant: small-caps;
    font-weight: 400;
}

.preview-post-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.preview-post-read-more {
    margin-left: auto;
    font-weight: 400;
    font-size: 1rem;
}